Checks: >
  bugprone-*,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  misc-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length
